*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: white;
  font-size: 14px;
  font-family: Sans-Serif;
  line-height: 1.5;
  color: #333;
}

.container{
  max-width: 1100px;
  margin: 50px auto;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  
}

.item{
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 40px 60px rgba(0,0,0,0.5);
}

.profile img{
  max-width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.writeup{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item1{
  grid-column: 1/ span 2;
  background-color: #7541c8;
  color: white;
}

.item2{
  grid-column: 3/ span 1;
  background-color: #48556a;
  color: white;
}

.item3{
  grid-column: 4/span 1;
  grid-row: 1/span 2;
  background-color: white;
  color: #333;
}

.item4{
  grid-column: 1/span 1;
  background-color: white;
  color: #333;
}

.item5{
  grid-column: 2/ span 2;
  background-color: #19212e;
  color: white;
}

@media (max-width: 900px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5{
    grid-column: 1/-1;
    grid-row: auto;
  }
}